.container {
    display: flex;
    width: 100%;
    height: 100%;
    }

.square-big {
     display: flex;
     border: .25pt solid black;
     margin: auto;
     height: 71.428571vh;     
     width: 71.428571vw;
     background: #ffffff;
}
    
   
    
.square-small{
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
    
}

.line-1-holder {
    display: flex;
    flex-direction: column;
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
    background-color: #ffffff;

}
    
    
    
.line1 {
    display: flex;
    margin-top: 0;
    background-color: #000000;
    width: 42.857143vw;
    height: 2.9vh;
    margin: auto;
        
        
    }
    
.line {
    display: flex;
    background-color: #000000;
    width: 42.857143vw;
    height: 2.9vh;
    margin: auto;
}
    
.line2 {
    display: flex;
    margin-bottom: 0;
    background-color: #000000;
    width: 42.857143vw;
    height: 2.9vh;
    margin: auto;
}

.holder {
    display: flex;
    width: 14.285714vw;
    height: 14.285714vh;
    margin: auto;
    overflow: hidden;
    position: relative;
    top: -28.517384281vh;
}
    

.white1{
    display: flex;
    transform: rotate(-30deg);
    background-color: #fff;
    width: 0.731vw;
    height: 30vh;
    margin: auto;
    margin-top: -5vh;
}

.white{
    display: flex;
    transform: rotate(-30deg);
    background-color: #fff;
    width: 0.731vw;
    height: 30vh;
    margin: auto;
    margin-top: -5.5vh;
    margin-left: 3.5vh;
}

.white2{
    display: flex;
    transform: rotate(-30deg);
    background-color: #fff;
    width: 0.731vw;
    height: 30vh;
    margin: auto;
    margin-right: .1vh;
    margin-top: -10.5vh;
}

whitehide {
    display: flex;
    flex-direction: column;
    width: 14.285714vw;
    height: 2.8vh;
    margin: auto;
    overflow: hidden;
    position: relative;
    top: -37.11vh;

}

b-hide {
    display: flex;
    margin: auto;
    width: 29.285714vw;
    height: 1.2vh;
    background-color: #000000;

}

w-hide {
    display: flex;   
    margin: auto;
    width: 15.19vw;
    height: 0.75vh;
    background-color: #ffffff;

}

.hide-line3 {
    display: flex;
    margin: auto;
    width: 42.857143vw;
    height: 42.857143vh;
    overflow: hidden;
    position: relative;
    top: -57.17384281vh;

}

.line-3-holder {
    display: flex;
    width: 55.97vw;
    height: 41.546vh;
    margin: auto;
    
    margin-left: -12vw;
    overflow: hidden;
    position: relative;

}

.line-3-left {
    display: flex;
    background-color: rgb(0, 0, 0);
    transform: rotate(-30deg);
    width: 1.5462vw;
    height: 65vh;
    margin: auto;
    margin-left: 0;
    transform-origin: 0% 0%;
    margin-left: -11.5vh;
    margin-right: 0.05;
    


}

.line-3 {
    display: flex;
    transform: rotate(-30deg);
    background-color: #000000;
    width: 1.5462vw;
    height: 70vh;
    margin: auto;
    transform-origin: 0% 0%;
    
}

.line-3-right {
    display: flex;
    background-color: rgb(0, 0, 0);
    transform: rotate(-30deg);
    width: 1.5462vw;
    height: 65vh;
    margin: auto;
    margin-right: 0.8vh;
    transform-origin: 0% 0%;
}

.holder4 {
    display: flex;
    width: 14.285714vw;
    height: 14.285714vh;
    margin: auto;
    overflow: hidden;
    position: relative;
    top: -85.57384281vh;
}

.white4-1 {
    display: flex;
    transform: rotate(30deg);
    background-color: #fff;
    width: 0.731vw;
    height: 30vh;
    margin: auto;
    margin-top: -11vh;
}

.white4 {
    display: flex;
    transform: rotate(30deg);
    background-color: #fff;
    width: 0.731vw;
    height: 30vh;
    margin: auto;
    margin-top: -11.2vh;
    margin-left: 3.5vh;
}

.white4-2 {
    display: flex;
    transform: rotate(30deg);
    background-color: #fff;
    width: 0.731vw;
    height: 30vh;
    margin: auto;
    margin-right: .1vh;
    margin-top: -5vh;
}

whitehide-2 {
    display: flex;
    flex-direction: column;
    width: 14.285714vw;
    height: 2.8vh;
    margin: auto;
    overflow: hidden;
    position: relative;
    top: -97.07384281vh;

}

b-hide-2 {
    display: flex;
    margin: auto;
    width: 29.285714vw;
    height: 1.2vh;
    background-color: #000000;

}

w-hide-2 {
    display: flex;   
    margin: auto;
    width: 15.19vw;
    height: 0.75vh;
    background-color: hidden;

}