.holder {
    display: flex;
    width: 100%;
    height: 100%;
}

.square-big {
    display: flex;
    width: 71.428571vw;
    height: 71.428571vh;
    border: 0.5pt solid #000000;
    background-color: #ffffff;
    margin: auto;
}

.square-small {
    display: flex;
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    
}

.tran-top {
    width: 28.571428vw;
    height: 28.571428vh;
    background-color: #fcbd82;
    top: 0;
    left: 0;
    position: absolute;

}

.tran-bottom {
    width: 28.571428vw;
    height: 28.571428vh;
    background-color: #212b53;
    bottom: 0;
    right:0;
    position: absolute;

}

.tran-middle {
    width: 14.285714vw;
    height: 14.285714vh;
    background-color: #585b46;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    position: absolute;

}