.top{
    height: 5rem;
    width: auto;
    background: white;

}


  .square{
    display: flex;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
  }


.square1{
    display: flex;
    border: .25pt solid black;
    margin: auto;
    width: 71.428571vw;     
    height: 71.428571vh;
    background: #ffffff;
    
    
  }
  .square2{
    display: flex;
    border: .15pt solid #c7c8ca;
    margin: auto;
    width: 42.85714vw;       
    height: 42.85714vh;
    background: white;
    
  }
  .square3{
    display: flex;
    margin: auto;
    width: 14.285714vw;
    height: 14.285714vh;         
    background: #000000;
  }