.top{
    height: 5rem;
    width: auto;
    background: white;

}

.square1{
    display: flex;
    margin: auto;
    width: 35.7142855vw;     /* 71.428571  */
    height: 35.7142855vw;
    background: rgb(0, 0, 0);
    
    
  }
  .square2{
    display: flex;
    margin: auto;
    width: 21.42857vw;        /* 42.85714  */
    height: 21.42857vw;
    background: white;
    
  }
  .square3{
    display: flex;
    margin: auto;
    width: 7.142857vw;
    height: 7.142857vw;          /* 14.285714  */
    background: #000000;
  }