.container {
    display: flex;
    width: 100%;
    height: 100%;
    }
    
    .square-big {
        display: flex;
        border: .25pt solid black;
        margin: auto;
        height: 71.428571vh;     
        width: 71.428571vw;
        background: #ffffff;
    }
    
    .square-small{
        display: flex;
        flex-direction: column;
        width: 42.857143vw;
        height: 42.857143vh;
        margin: auto;
        background-color: #ffffff;
    }
    
    
    
    .line1 {
        display: flex;
        margin-top: 0;
        background-color: #000000;
        width: 42.857143vw;
        height: 2.9vh;
        margin: auto;
        
        
    }
    
    .line {
        display: flex;
        background-color: #000000;
        width: 42.857143vw;
        height: 2.9vh;
        margin: auto;
    }
    
    .line2 {
        display: flex;
        margin-bottom: 0;
        background-color: #000000;
        width: 42.857143vw;
        height: 2.9vh;
        margin: auto;
    }
    