

.square {
  display: flex;
  width: 100%;
  height: 100%;
}




.square1{
  display: flex;
  width: 71.428571vw;
  height: 71.428571vh;
  border: 0.5pt solid #000000;
  background-color: #ffffff;
  margin: auto;
    
  }
  .square2{
    display: flex;
    margin: auto;
    width: 42.857143vw;
    height: 42.857143vh;
    background: rgb(0, 0, 0);
  }
  .square3{
    display: flex;
    margin: auto;
    width: 14.285714vw;
    height: 14.285714vh;
    background: white;
  }